*{
    box-sizing: border-box;
}

body{
    background-color: red;
}
.container{
    width: 85%;
    background-color: greenyellow;
    position: relative;
    top: 50px;
    left: 150px;
    height: 750px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.fixed-sidebar{
    border: 2px solid black;
    width: 100px;
    height: 400px;
    position: fixed;
    top: 170px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}

ul{
    padding-left: 0px;
    text-align: center;
}
nav{
    background-color: grey;
    color: white;
    position: sticky;
    z-index: 10;
    top: 0px;
}

.fixed-sidebar img{
    width: 70px;
    height: 70px;
}

li{
    list-style-type: none;
}

.nav-item{
    display: inline-block;
    width: 20%;
    padding: 20px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

figure{
    border: 3px solid black;
    border-radius: 7px;
    display: inline-block;
    width: 250px;
    height: 180px;
    position: absolute;
    background-color: white;
    text-align: center;
}

figure img{
    width: 190px;
    height: 130px;
    margin-top: 10px;
}

figcaption{
    text-align: center
}

#li1{
    top: 200px;
    left: 200px;
    z-index:4 ;
    rotate: -30deg;
}

#li2{
    top: 250px;
    left: 350px;
    z-index:3 ;
    rotate: 30deg;
}

#li3{
    top: 300px;
    left: 450px;
    z-index:2 ;
    rotate: -20deg;
}

#li4{
    top: 350px;
    left: 550px;
    z-index:1 ;
    rotate: 20deg;
}